.menu-wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.menu {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
}

.menu__item {
  flex: 1;
  position: relative;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 -0.5px #fee1c4;
}

.menu__item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
  font-weight: 600;
  color: #fee1c4;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.menu__item-link:hover {
  color: #051011;
}

.menu__item-link:focus:not(:focus-visible) {
  color: #fee1c4;
}

.marquee {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: #fefdf7;
  transform: translate3d(0, 101%, 0);
  transition: transform 0.6s ease-expo;
}

.marquee__inner-wrap {
  height: 100%;
  width: 200%;
  display: flex;
  transform: translateX(0);
}

.marquee__inner {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
  width: 200%;
  will-change: transform;
  animation: marquee 15s linear infinite;
}

.marquee span {
  color: #051011;
  white-space: nowrap;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1;
  padding: 0 1rem;
  flex-shrink: 0;
}

.marquee__img {
  width: 180px;
  height: 50px;
  min-width: 180px;
  min-height: 50px;
  margin: 0 1.5rem;
  border-radius: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  flex-shrink: 0;
}

.menu__item-link:hover + .marquee {
  transform: translate3d(0, 0%, 0);
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

